# 环境配置

# JWT 配置
JWT_SECRET_KEY=YOUR_JWT_SECRET_KEY

# 数据库配置
DB_PORT=YOUR_DB_PORT
DB_NAME=YOUR_DB_NAME
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASSWORD
DB_HOST=YOUR_DB_HOST

# Celery 配置
CELERY_BROKER_URL=YOUR_CELERY_BROKER_URL
CELERY_RESULT_BACKEND=YOUR_CELERY_RESULT_BACKEND
CELERY_TASK_TIME_LIMIT=YOUR_CELERY_TASK_TIME_LIMIT
CELERY_TASK_SOFT_TIME_LIMIT=YOUR_CELERY_TASK_SOFT_TIME_LIMIT
CELERY_RESULT_EXPIRES=YOUR_CELERY_RESULT_EXPIRES

# redis 配置
REDIS_CACHE_URL=YOUR_REDIS_CACHE_URL
